:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  margin: 0;
  font: var(--mat-sys-title-large);
}

.spacer {
  flex: 1;
}

.content {
  flex: 1;
  min-height: 0;
  overflow: auto;
}
